<h3 class="px-3">マイページ</h3>

<b>登録情報</b>　<%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %>

<table border="1" style="border-collapse: collapse">
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50" width="200">氏名</th><td width="500"><%= @customer.last_name %>　<%= @customer.first_name %></td>
  </tr>
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50">カナ</th><td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
  </tr>
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50">郵便番号</th><td><%= @customer.postal_code %></td>
  </tr>
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50">住所</th><td><%= @customer.address %></td>
  </tr>
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50">電話番号</th><td><%= @customer.telephone_number %></td>
  </tr>
  <tr align="left">
    <th bgcolor="#e5e4e6" height="50">メールアドレス</th><td><%= @customer.email %></td>
  </tr>
</table>

<b>注文履歴</b>　<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
