<div class="container px-5 px-sm-0">
  <div class="row m-4 pt-2">
    <div class="col-3">
      <h4 class="bg text-center">配送先登録/一覧</h4>
    </div>
  </div>
  <%= form_with model: @shipping, url: shippings_path, method: :post, local: true do |f| %>
    <div class="row pt-3 pb-5">
      <div class="col-10">
        <table>
          <tbody>
            <tr align="left">
              <th height="40" width="200">郵便番号(ハイフンなし)</th>
              <td width="700"><%= f.text_field :postal_code, placeholder: "0000000", size: "30" %></td>
            </tr>
            <tr align="left">
              <th height="40">住所</th>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "70" %></td>
            </tr>
            <tr align="left">
              <th height="40">宛名</th>
              <td><%= f.text_field :name, placeholder: "令和道子", size: "30" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2 mt-auto">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-10">
      <table class="table" border="1" style="border-collapse: collapse">
        <thead class="bg" align="left">
          <th height="50" width="60">郵便番号</th>
          <th width="250">住所</th>
          <th width="80">宛名</th>
          <th width="150"></th>
        </thead>
        <tbody>
          <% @shippings.each do |shipp| %>
            <tr>
              <td height="50"><%= shipp.postal_code %></td>
              <td><%= shipp.address %></td>
              <td><%= shipp.name %></td>
              <td>
                <%= link_to "編集する", edit_shipping_path(shipp.id), class: "btn btn-success" %>
                <%= link_to "削除する", shipping_path(shipp), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
