<div class="container px-5 px-sm-0">
  <div class="row m-3">
    <div class="col">
      <h3 class="bg-secondary-subtle text-emphasis-secondary">管理者ログイン</h3>
    </div>
  </div>
  <div class="container px-auto">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="row">
        <div class="col">
          <div class="row py-1">
            <label class="col-sm-2 col-form-label">メールアドレス</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@exampl", size: 50 %>
          </div>
          <div class="row py-1">
            <label class="col-sm-2 col-form-label">パスワード</label>
            <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
          </div>
        </div>
      </div>
      <div class="row m-3" align="center">
        <div class="col">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <%= render "admin/shared/links" %>
  </div>
</div>
