<div class="container px-5 px-sm-0">
  <div class="row m-4">
    <div class="col-3">
      <h4 class="bg text-center">注文履歴詳細</h4>
    </div>
  </div>
  <table>
    <tr>
      <th width="150" height="40">購入者</th>
      <td width="500">
        <%= link_to admin_customer_path(@order.customer.id), class: "link-dark" do %>
          <%= @order.customer.last_name %> <%= @order.customer.first_name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th height="40">注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th height="40" valign="top">配送先</th>
      <td>
        〒<%= @order.postal_code %>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th height="40">支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th height="40">注文ステータス</th>
      <td>
        <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local: true do |f| %>
          <%= f.select :status, Order.statuses.keys.map{|k|[I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit "更新", class: "ml-4 btn btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="mt-4" style="border-collapse: collapse">
        <thead class="bg" align="left">
          <th height="50" width="250">　商品名</th>
          <th width="120">単価（税込）</th>
          <th width="80">　数量</th>
          <th width="100">　小計</th>
          <th width="200">製作ステータス</th>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td height="50">　<%= order_detail.item.name %></td>
              <td>　<%= order_detail.price.to_s(:delimited) %></td>
              <td>　　<%= order_detail.amount %></td>
              <td>
                <% @subtotal = order_detail.price * order_detail.amount %>
                　<%= @subtotal.to_s(:delimited) %>
              </td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch, local: true do |f| %>
                    <%= f.select :production_status, OrderDetail.production_statuses.keys.map{|k|[I18n.t("enums.order_detail.production_status.#{k}"), k]} %>
                    <%= f.submit "更新", class: "ml-4 btn btn-success" %>
                <% end %>
              </td>
            </tr>
            <% @total_price += @subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 ml-5 mt-auto">
      <table>
        <tr>
          <th width="100" height="35">商品合計</th>
          <td width="80" align="right"><%= @total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th height="35">送料</th>
          <td align="right"><%= @order.postage.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th height="35">請求金額合計</th>
          <td align="right">
            <% total = @total_price + @order.postage %>
            <b><%= total.to_s(:delimited) %>円</b>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
