<h3>注文履歴詳細</h3>

<b>注文情報</b>
<table class="table" border="1" style="border-collapse: collapse">
  <tbody>
    <tr align="left">
      <td height="50" width="150">注文日</td>
      <td width="500"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr align="left">
      <td height="50">配送先</td>
      <td>
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr align="left">
      <td height="50">支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr align="left">
      <td height="50">ステータス</td>
      <td></td>
    </tr>
  </tbody>
</table>

<b>請求情報</b>
<table class="table" border="1" style="border-collapse: collapse">
  <tbody>
    <tr align="left">
      <td height="50" width="200">商品合計</td>
      <td width="150"><%= @order.payment.to_s(:delimited) %></td>
    </tr>
    <tr align="left">
      <td height="50">配送料</td>
      <td>
        <%= @order.postage %>
      </td>
    </tr>
    <tr align="left">
      <th height="50">ご請求額</th>
      <td>
        <% total_payment = @order.payment + @order.postage %>
        <%= total_payment.to_s(:delimited) %>
      </td>
    </tr>
  </tbody>
</table>

<b>注文内容</b>
<table class="table" border="1" style="border-collapse: collapse">
  <thead align="left">
    <th height="50" width="500">商品</th>
    <th width="150">単価(税込)</th>
    <th width="100">個数</th>
    <th width="100">小計</th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td height="50"><%= order_detail.item.name %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.amount %></td>
        <td>
          <% subtotal = order_detail.price * order_detail.amount %>
          <%= subtotal %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>