<h3>ログイン</h3>

<h4>会員の方はこちらからログイン</h4>
<!--%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <table style="border-collapse: collapse">
    <tbody>
      <tr align="left">
        <td height="50" width="200">メールアドレス</td>
        <td width="500"><%= f.email_field :email, autocomplete: "email" %></td>
      </tr>
      <tr align="left">
        <td height="50">パスワード</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<h4>会員登録がお済みでない方</h4>
<!--%= render "public/shared/links" %>-->
<%= link_to new_customer_registration_path do %>
  こちら
<% end %> から新規登録を行ってください。
