<div class="container px-5 px-sm-0">
  <div class="row m-3 pt-3">
    <div class="col-3">
      <%= render 'genres', genres: @genres %>
    </div>
    <div class="col-9">
      <div class="row">
        <h2 class="my-3 font-weight-bold">商品一覧</h2><font size="5" class="my-3"> (全<%= @items.count %>件)</font>
      </div>
      <div class="row row-cols-4">
        <% @items.each do |item| %>
          <div class="col-3 my-4">
            <div class="row">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image(150, 150) %>
              <% end %>
            </div>
            <div class="mt-2 font-weight-bold"><%= item.name %></div>
            <div class="mt-2 font-weight-bold">¥<%= item.price.to_s(:delimited) %></div>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>
